table{
    table-layout: fixed;
}


td .task-status-icon{
    line-height: 32px;
}

@keyframes broadcast{
    0%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 1;
    }
    10%{
        width: 32px;
        height:32px;
        margin-left:-8px;
        margin-top:-16px; 
        opacity: 0;
    }
    11%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 0;
    }
    12%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 1;
        }
    20%{width: 32px;
        height:32px;
        margin-left:-8px; 
        margin-top:-16px;  
        opacity: 0;}
    21%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 0;}
    22%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 1;}
    30%{
        width: 32px;
        height:32px;
        margin-left:-8px; 
        margin-top:-16px;  
        opacity: 0
    }
    31%{  
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 0;
    }
    100%{   
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 1;
    }
}

.task-status-icon.text-danger~.task-status-broadcast{
    position: absolute;
    top:50%;
    left:50%;
    width: 16px;
    height:16px;
    margin-left:0; 
    margin-top:-8px; 

    border: 1px #a94442 solid;
    border-radius: 100%;
    animation: broadcast 12s;
    animation-iteration-count: infinite;
}
td textarea.form-control{
    height:34px;
    max-width:100%;
}


.table >tbody >tr > td.td-operate{
 padding: 0px;
}
.table >tbody >tr > td.td-operate button.btn{
    border: none;
    border-radius: 0px;
}