.task-list-header{
    margin-bottom: 10px;
}
.task-list-header .input-group-btn button{
    width:100px;
}

.task-list-header .task-search-key{
    width: 220px;
}

table{
    table-layout: fixed;
}

td textarea.form-control{
    height:34px;
    max-width:100%;
}


.table >tbody >tr > td.td-operate{
    padding: 0;
}
.table >tbody >tr > td.td-operate button.btn{
    border: none;
    border-radius: 0px;
}
.table >tbody >tr > td .task-del{
    line-height: 32px;
    cursor: pointer;
}