<div>
    <div class="task-list-header input-group">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
        <input type="text" class="form-control task-search-key">
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th [style.width]="'40px'"></th>
                <th [style.width]="'180px'">Ref No</th>
                <th>Desc</th>
                 <th [style.width]="'182px'">Date</th>
                <th>Note</th>
               
                <th [style.width]="'34px'"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of list;let i =index">
                <td>{{i+1}}</td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="item.refNo">
                </td>
                <td>
                    <textarea type="text" class="form-control" [(ngModel)]="item.desc"></textarea> 
                </td>
               
                <td>
                    <input type="date" class="form-control" [(ngModel)]="item.date">
                </td>
                 <td>
                    <textarea type="text" class="form-control" [(ngModel)]="item.note"></textarea>
                </td>
                <td>
                    <agl-task-list-status-operate 
                            [(ngModel)]="item.status" ngDefaultControl> 
                    </agl-task-list-status-operate>
                </td>
            </tr>
            <tr>
                <td colspan="6" class="td-operate">
                    <button class="btn btn-block btn-default" (click)="addTask()" > <i class="glyphicon glyphicon-plus"></i> Add</button>            
                </td>
            </tr>
        </tbody>
    </table>
    <div>
         <button class="btn btn-success pull-right" (click)="save()" >Save</button>
    </div>
   
</div>