.task-status{
    position:relative;
    cursor: pointer;
}
.task-status .task-status-icon{
    line-height: 32px;
}

@keyframes broadcast{
    0%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 1;
    }
    10%{
        width: 32px;
        height:32px;
        margin-left:-8px;
        margin-top:-16px; 
        opacity: 0;
    }
    11%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 0;
    }
    12%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 1;
        }
    20%{width: 32px;
        height:32px;
        margin-left:-8px; 
        margin-top:-16px;  
        opacity: 0;}
    21%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 0;}
    22%{
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 1;}
    30%{
        width: 32px;
        height:32px;
        margin-left:-8px; 
        margin-top:-16px;  
        opacity: 0
    }
    31%{  
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 0;
    }
    100%{   
        width: 16px;
        height:16px;
        margin-left:0; 
        margin-top:-8px; 
        opacity: 1;
    }
}

.task-status-icon.text-danger~.task-status-broadcast{
    position: absolute;
    top:50%;
    left:0;
    width: 16px;
    height:16px;
    margin-left:0; 
    margin-top:-8px; 

    border: 1px #a94442 solid;
    border-radius: 100%;
    animation: broadcast 12s;
    animation-iteration-count: infinite;
}
.list-group{
    z-index: 10;
    position:absolute;
    top:100%;
    left:0;
    display: none;
        margin:0;
}
.task-status.active .list-group{
    display: block;
}

.list-group .list-group-item{
    padding: 6px 12px 6px 12px;
    cursor: pointer;
}